pkgbase = delulu-talks-bin
	pkgdesc = Private, local-first system-wide dictation powered by CrisperWhisper 2.0
	pkgver = 0.5.0
	pkgrel = 1
	url = https://github.com/JEMostert/delulu-talks
	arch = x86_64
	license = MIT
	depends = c-ares
	depends = ffmpeg
	depends = gtk3
	depends = gtk4-layer-shell
	depends = libappindicator-gtk3
	depends = libevent
	depends = libnotify
	depends = libvpx
	depends = libxss
	depends = libxslt
	depends = minizip
	depends = nss
	depends = python
	depends = python-cairo
	depends = python-gobject
	depends = re2
	depends = snappy
	provides = delulu-talks
	conflicts = delulu-talks
	options = !strip
	source_x86_64 = Delulu-Talks-0.5.0-linux-x64.tar.xz::https://github.com/JEMostert/delulu-talks/releases/download/v0.5.0/Delulu-Talks-0.5.0-linux-x64.tar.xz
	source_x86_64 = LICENSE-0.5.0::https://raw.githubusercontent.com/JEMostert/delulu-talks/v0.5.0/LICENSE
	source_x86_64 = delulu-talks.desktop
	sha256sums_x86_64 = 555c058ce29ec7c9d3f7a1650932a7ff551d8e6c80af8444b9c0d3182c448eca
	sha256sums_x86_64 = 8c46053b4b662e3a8a60ce7ec1ed0aff9b78ca9a14c00f5ac6522462b98257eb
	sha256sums_x86_64 = d742e43dbb19f17c3abe466a58c60dd6f6569f6c55b1b9298ce06057f333ce84

pkgname = delulu-talks-bin
